.custom-table {
  th {
    font-size: 15px;
    font-weight: 700;
    color: white;
    vertical-align: middle;
  }
  td {
    font-size: 14px;
    font-weight: 400;
    color: $dark;
    vertical-align: middle;
    .btn-link {
      font-size: 14px;
      font-weight: 700;
      color: $dark;
      text-decoration: none;
    }
    span {
      font-size: 12px;
      font-weight: 700;
    }
  }
  .table-group-divider {
    color: $light;
  }
  .group-badges {
    gap: 2px;
  }
}
