.dashboard {
  background: rgba(white,0.7);
  border: 1px solid $secondary;
  border-radius: 20px;
  margin-top: 4px;
  .db-card {
    background: rgba(white,0.7);
    border: 1px solid $secondary;
    border-radius: 5px;
  }
}
